<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prisma Passportjs auth</title>
  </head>
  <body>
    <h1 id="title">Authentication using Prisma and Passport.js</h1>

    <div class="authLinks">
      <a id="login" href="/login">Login</a>
      <a id="reg" href="/register">Signup</a>
      <a id="sec" href="/protected">Secret</a>
    </div>
  </body>
</html>
